extends ../layout

block content
  .container
    .panel
      .panel-body
        form(method='POST' action=`/post/${post.slug}/update`)
          legend Update Post
          .form-group
            label.control-label(for='title') Title
            input.form-control(type='text', name='title', id='title', placeholder='Title...', value=`${post.title}` autofocus=true)
          .form-group
            label.control-label(for='post-body') Post
            textarea.form-control(id='post-body', name="body", placeholder='Post...') #{post.body}
          button.btn.btn-success(type='submit') Submit
  script(src="/js/resize.js")
