extends layout

block content
  .container-fluid
    .container
      .row 
        .col-md-10.col-sm-2
        a.text-uppercase(href="/addPost")
          span.glyphicon.glyphicon-plus
          |  <b> Add new Post</b> 

      each post in posts
        .row
          .col-md-2
          .col-md-8
            .panel
              .panel-body
                h3 #{post.title}
                //- first 30 words
                - const description = post.body.split(' ').slice(0, 21).join(' ')
                p #{description}...
                a.btn(href=`/post/${post.slug}`, role='button') View &nbsp;
                  span.glyphicon.glyphicon-arrow-right 